//Theme colors scheme
$primary-color: #ea4335;

$white: #FFF;
$black: #000;

$JetGrey: #343434;
$DavysGrey: #555555;
$DimGrey: #696969;
$Grey: #808080;
$SpanishGrey: #989898;
$DarkGrey: #A9A9A9;
$MediumGrey: #BEBEBE;
$Silver: #C0C0C0;
$LightGrey: #D3D3D3;
$ExtraLightGrey: #F2F2F2;


// Bootstrap color changed
$warning: #fbbc05;
$success: #34a853;
$info: #4285f4;
$danger: #ea4335;

//social icons color
$facebook-color: #3b5998;
$twitter-color: #1da1f2;
$dribbble-color: #e14984;
$linkedin-color: #1b85bd;
$youtube-color: #cc181e;
$behance-color: #1769ff;
$google-plus-color: #d44032;
$flickr-color: #ff0084;
$skype-color: #01aef2;
$instagram-color: #f4b97a;

// Fonts
$font-default: "Roboto";
$font-condensed: "Roboto Condensed";

// Media sizes
$phone-only: "only screen and (min-width: 320px) and (max-width: 767px)";
$phone-and-tablet: "only screen and (min-width: 320px) and (max-width: 991px)";
$tablet-only: "only screen and (min-width: 768px) and (max-width: 991px)";
$desktop-only: "only screen and (min-width: 768px)";