//Theme colors scheme
$theme-color: #ea4335;
$white: #FFF;
$black: #000;
$darkgrey: #1A1A1A;
$grey: #808080;
$extralightgrey: #F2F2F2;
$lightgrey: #dcdcdc;
$border-color : #e6e6e6;


$font-default: "Roboto", Roboto, Arial, sans-serif;
$font-condensed: 'Roboto Condensed', Arial, sans-serif;

