<div class="container-fluid brand--slider--master">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <ul class="lightSlider brandSlider">
                    <li>
                        <img src="images/brands/armani-jeans.png" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/bella.png" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/breitling.jpg" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/chaco.jpg" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/D&G.jpg" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/guess.png" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/hilfiger-denim.png" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/original-penguin.png" alt="img"/>
                    </li>
                    <li>
                        <img src="images/brands/tna.png" alt="img"/>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>