<div class="container">
    <div class="row">
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="//cdn.shopify.com/s/files/1/1098/6578/collections/img_collection_04_grande_63f14d1d-a4c0-4ba7-8fa3-af3e037945fd_large.jpg" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">Denim is a way of life</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="//cdn.shopify.com/s/files/1/1098/6578/collections/img_collection_05_grande_efc239b2-bcf6-40e6-92ca-7cce356f2119_large.jpg" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">I am Dotty about you</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="//cdn.shopify.com/s/files/1/1098/6578/collections/img_collection_4_grande_7afcbe29-0097-4026-b172-c3753c2de58b_large.jpg" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">Summer Collection 2017</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="https://cdn.shopify.com/s/files/1/1672/3395/t/4/assets/banner-home-bottom-2.jpg" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">It's Shopping time</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="https://cdn.shopify.com/s/files/1/1252/9011/t/6/assets/banner-home-bottom-2.jpg?864771831000684961" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">My Dance Wear Collection</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="feature--collection--list text-center">
                <div class="product-top">
                    <a href="javascript:void(0)">
                        <img  class="card-box-layout" src="//cdn.shopify.com/s/files/1/1098/6578/collections/img_collection_6_grande_f14057d0-9514-41a4-b11b-baf299b9eadd_large.jpg" alt="img">
                    </a>
                </div>
                <div class="collection-info">
                    <a class="title" href="javascript:void(0)">
                        <span class="text-uppercase">Tropical Print Pants</span>
                    </a>
                    <p class="count-products">18 products</p>
                    <p class="desc">Lorem ipsum dolor sit amet consectetur adipiscing elit. Quisque non nulla nulla, nec tincidunt...</p>
                    <p><a href="javascript:void(0)" class="btn btn-danger text-uppercase">Shop The Collection</a></p>
                </div>
            </div>
        </div>
    </div>
</div>