<footer class="footer-section">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                
            </div>
            <div class="col-md-6"></div>
            <div class="col-md-3"></div>
        </div>
        <div class="row">
            <div class="col-md-3 matchHeightItem">
                <div class="widget matchHeightWidgetItem">
                    <div class="title">About eCommerce</div>
                    <p class="desc">Lorem ipsum dolor sit amet isse potenti. Vesquam ante aliquet lacusemper elit. Cras neque nulla, convallis non commodo et, euismod nonsese convallis non commodo et, euismod nonsese convallis non commodo et, euismod nonsese.</p>
                    <p class="desc">Lorem ipsum dolor sit.</p>
                </div>
                <div class="widget">
                    <div class="title">Customer Service</div>
                    <div class="cs-boxes">
                        <div class="box">
                            <a href="#" class="cs-btn"><i class="fa fa-map-marker"></i></a>
                            <span>Find Store</span>
                        </div>
                        <div class="box">
                            <a href="#" class="cs-btn"><i class="fa fa-gift"></i></a>
                            <span>Gift cards</span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-6 matchHeightItem text-center">
                <div class="widget">
                    <div class="title">Join our Newsletter</div>
                    <p class="desc">Subscribe to our newsletter to stay up-to-date:</p>
                    <div class="card-box-layout nls-box">
                        <div class="input-group">
                            <input type="email" class="form-control" placeholder="Email">
                            <span class="input-group-btn">
                                <button class="btn btn-default" type="button">Go!</button>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="widget">
                    <div class="title">Stay in touch.</div>
                    <div>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-envelope"></i>
                        </a>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-google-plus"></i>
                        </a>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-instagram"></i>
                        </a>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-twitter"></i>
                        </a>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-vk"></i>
                        </a>
                        <a href="#" class="footer-social-btn">
                            <i class="fa fa-facebook"></i>
                        </a>
                    </div>
                </div>
                <div class="widget">
                    <div class="title">Payment accept.</div>
                    <div>
                        <a href="#" class="pa-card">
                            <img src="https://demo.polarcore.io/media/wysiwyg/visa_40x64.png" alt="img" />
                        </a>
                        <a href="#" class="pa-card">
                            <img src="https://demo.polarcore.io/media/wysiwyg/mastercard_40x64.png" alt="img" />
                        </a>
                        <a href="#" class="pa-card">
                            <img src="https://demo.polarcore.io/media/wysiwyg/american-express_40x64.png" alt="img" />
                        </a>
                        <a href="#" class="pa-card">
                            <img src="https://demo.polarcore.io/media/wysiwyg/paypal_40x63.png" alt="img" />
                        </a>
                        <a href="#" class="pa-card">
                            <img src="https://demo.polarcore.io/media/wysiwyg/visa-electron_40x64.png" alt="img" />
                        </a>
                    </div>
                </div>
            </div>
            <div class="col-md-3 matchHeightItem">
                <div class="widget matchHeightWidgetItem">
                    <div class="title">We can help you?</div>
                    <ul class="square-listed">
                        <li><a href="#">Payment</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Returns &amp; Refund</a></li>
                        <li><a href="#">Customer Support</a></li>
                        <li><a href="#">Privacy &amp; Policy</a></li>
                    </ul>
                </div>
                <div class="widget">
                    <div class="title">Get more with eCommerce</div>
                    <div class="row mob-app-btn">
                        <div class="col-md-6 store-btn">
                            <img width="100%" src="https://designpieces.com/wp-content/uploads/2016/02/download-on-the-app-store.png" alt="App Store" />
                        </div>
                        <div class="col-md-6 store-btn">
                            <img width="100%" src="https://designpieces.com/wp-content/uploads/2016/02/google-play-badge-300x89.png" alt="Play Store" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <address class="copyright text-center">© 2016 eCommerce. Your own clothing store!</address>
</footer>