<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        
        <title>MyStore : Your own e-store!</title>
        
        <link href="images/favicon/favicon-114x114.png" rel="apple-touch-icon" type="image/png" sizes="114x114">
        <link href="images/favicon/favicon-72x72.png" rel="apple-touch-icon" type="image/png" sizes="72x72">
        <link href="images/favicon/favicon-57x57.png" rel="apple-touch-icon" type="image/png">
        <link href="images/favicon/favicon.png" rel="icon" type="image/png">
        <link href="images/favicon/favicon.ico" rel="shortcut icon">
        
        <link rel="stylesheet" href="css/lib-styles.css">
    </head>