<aside>
    <div class="card-box-layout">
        <div class="catalog-layer-view">
            <div class="widget categories-widget">
                <div class="widget-title"> Categories </div>
                <ul class="listing square-listed categories-filter">
                    <li><a href="#">Short Sleeveless Shirts</a> <span>(94)</span>
                        <ul class="listing">
                            <li> <a href="#" title="">Running</a> <span>(21)</span> </li>
                            <li> <a href="#" title="">Lifestyle</a> <span>(12)</span> </li>
                            <li> <a href="#" title="">Training</a> <span>(43)</span> </li>
                            <li> <a href="#" title="">Walking</a> <span>(18)</span> </li>
                        </ul>
                    </li>
                    <li><a href="#">Long Sleeve Shirts</a> <span>(13)</span></li>
                    <li><a href="#">Jackets &amp; Hoodies</a> <span>(36)</span></li>
                    <li><a href="#">Pants</a> <span>(42)</span></li>
                    <li><a href="#">Socks</a> <span>(9)</span></li>
                    <li><a href="#">Accessories and Gear</a> <span>(17)</span></li>
                    <li><a href="#">Recently Reduced Clothing</a> <span>(94)</span></li>
                </ul>
            </div>
            <hr class="separator"/>
            <div class="widget brand-widget">
                <div class="widget-title"> Brand </div>
                <ul class="listing brand-filter">
                    <li><label><input type="checkbox" name="tour" value="0"> Armani </label></li>
                    <li><label><input type="checkbox" name="tour" value="1"> Gucci </label></li>
                    <li><label><input type="checkbox" name="tour" value="2"> Roberto Cavalli </label></li>
                    <li><label><input type="checkbox" name="tour" value="3"> Valentino </label></li>
                    <li><label><input type="checkbox" name="tour" value="4"> adidas </label></li>
                    <li><label><input type="checkbox" name="tour" value="5"> Nike </label></li>
                    <li><label><input type="checkbox" name="tour" value="6"> Oscar de la Renta </label></li>
                    <li><label><input type="checkbox" name="tour" value="7"> Michael Kors </label></li>
                    <li><label><input type="checkbox" name="tour" value="8"> Bottega Veneta </label></li>
                    <li><label><input type="checkbox" name="tour" value="9"> Louis Vuitto </label></li>
                </ul>
            </div>
            <hr class="separator"/>
            <div class="widget categories-widget">
                <div class="widget-title"> Price </div>
                <input type="text" id="range" value="" name="range" />
            </div>
            <hr class="separator"/>
            <div class="widget color-widget">
                <div class="widget-title"> Colors</div>
                <ul class="color-filter">
                    <li class="red"></li>
                    <li class="blue"></li>
                    <li class="yellow"></li>
                    <li class="green"></li>
                    <li class="red"></li>
                    <li class="blue"></li>
                    <li class="yellow"></li>
                    <li class="green"></li>
                    <li class="red"></li>
                    <li class="blue"></li>
                    <li class="yellow"></li>
                    <li class="green"></li>
                </ul>
            </div>
        </div>
    </div>
</aside>