<div class="row cd-items cd-container">
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/1.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">HARPA Peach Colored Printed Skater Dress</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price">₹ 900.00</span>
                                </span>
                            </div>
                            <div class="brand-name">HARPA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/2.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">EVAH Olive Embroidered Dungarees</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <p class="old-price old-price-lable">
                                    <span class="price">₹ 1799.00</span>
                                </p>
                                <p class="special-price special-price-lable">
                                    <span class="price">₹ 1500.00</span>
                                </p>
                            </div>
                            <div class="brand-name">EVAH</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/3.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">DOROTHY PERKINS Blue Button Side Shirt</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price">₹ 1.110,00</span>
                                </span>
                            </div>
                            <div class="brand-name">DOROTHY PERKINS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/4.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title"> KAZO Black Golden Flowered Solid Shift Dress</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <p class="old-price old-price-lable">
                                    <span class="price">₹ 999,00</span>
                                </p>
                                <p class="special-price special-price-lable">
                                    <span class="price">₹ 888.00</span>
                                </p>
                            </div>
                            <div class="brand-name">KAZO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/5.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">DOROTHY PERKINS Blue Button Side Shirt</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price">₹ 1.110,00</span>
                                </span>
                            </div>
                            <div class="brand-name">DOROTHY PERKINS</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/6.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title"> KAZO Black Golden Flowered Solid Shift Dress</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <p class="old-price old-price-lable">
                                    <span class="price">₹ 999,00</span>
                                </p>
                                <p class="special-price special-price-lable">
                                    <span class="price">₹ 888.00</span>
                                </p>
                            </div>
                            <div class="brand-name">KAZO</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/7.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">HARPA Peach Colored Printed Skater Dress</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <span class="regular-price">
                                    <span class="price">₹ 900.00</span>
                                </span>
                            </div>
                            <div class="brand-name">HARPA</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-3 cd-item">
        <div class="card-box-layout">
            <div class="inner-item">
                <div class="product-image">
                    <div class="image-wrapper">
                        <img src="images/product/8.jpg" alt="Product Image">
                    </div>
                    <div class="overlay-wrapper">
                        <ul class="amaze-tools">
                            <li><a href="javascript:void(0)"><i class="ti-shopping-cart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-heart"></i></a></li>
                            <li><a href="javascript:void(0)"><i class="ti-gift"></i></a></li>
                            <li><a data-toggle="modal" data-target="#productQuickView" data-backdrop="true"><i class="ti-zoom-in"></i></a></li>
                        </ul>
                        <ul class="choose-color">
                            <li class="red"></li>
                            <li class="blue"></li>
                            <li class="yellow"></li>
                            <li class="green"></li>
                        </ul>
                    </div>
                </div>
                <div class="product-body">
                    <div class="product-info">
                        <a class="product-name" href="#" title="Product Title">EVAH Olive Embroidered Dungarees</a>
                        <div class="combo-box">
                            <div class="price-box">
                                <p class="old-price old-price-lable">
                                    <span class="price">₹ 1799.00</span>
                                </p>
                                <p class="special-price special-price-lable">
                                    <span class="price">₹ 1500.00</span>
                                </p>
                            </div>
                            <div class="brand-name">EVAH</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>