label {
    margin-bottom: 5px;
}
input.form-control,
input[type=checkbox],
textarea.form-control {
    box-shadow: none;
    border-radius: 0;
    border-color: $Silver;
    &:focus,
    &:hover {
        border-color: $Silver;
        box-shadow: none;
        outline: none;
        outline-offset: 0;
    }
}