.modal-dialog {
    max-width: 900px;
    width: 100%;
    margin: 0 auto;
    top: 50%;
    margin-top: -13.25%;
    .modal-content {
        border-radius: 0;
        border-color: $grey;
        padding: 25px;
        .close-modal {
            background: $grey;
            color: #fff;
            width: 30px;
            height: 30px;
            display: inline-block;
            font-size: 18px;
            font-weight: bold;
            text-align: center;
            line-height: 30px;
            position: absolute;
            right: 0;
            top: 0;
            z-index: 9;
        }
    }
}