.nav.nav-tabs {
    border-bottom: 1px solid $border-color;
    li {
        a {
            background: $white;
            border: 0 none;
            border-bottom: 3px solid $white;
            font-family: $font-condensed;
            font-size: 18px;
            color: $grey;
        }
        &.active a {
            border: 0 none !important;
            border-bottom: 3px solid $theme-color !important;
            color: $darkgrey !important;
        }
    }
}
.tab-content {
    padding: 25px;
    .heading {
        font-family: $font-condensed;
        font-size: 18px;
        margin-bottom: 15px;
    }
    p {
        color: $grey;
        letter-spacing: 0.3px;
    }
    ul li {
        color: $grey;
    }
}