.product-details-sidebar {
    .product-name-sku-rating {
        margin: 0 0 20px;
        .product-name {
            font-size: 26px;
            font-family: $font-condensed;
            color: $DarkGrey;
        }
        .product-sku {
            color: $Grey;
            margin: 5px 0;
            display: inline-block;
            font-size: 14px;
        }
        .product-rating {
            display: inline-block;
            width: 100%;
            li {
                float: left;
                margin-right: 3px;
                color: $Grey;
            }
        }
    }
    .price-info-box {
        display: inline-block;
        width: 100%;
        position: relative;
        margin-bottom: 15px;
        .pricing-section {
            display: inline-block;
            float: left;
            padding-right: 25px;
            margin-right: 25px;
            border-right: 1px solid Grey;
            .old-price-lable {
                display: table;
                margin: 0 auto;
                .price {
                    letter-spacing: .2px;
                    font-size: 20px;
                    color: $Grey;
                    &::after {
                        background: $Grey;
                    }
                }
            }
            .special-price .price,
            .regular-price .price {
                font-size: 26px;
                color: $DarkGrey;
                display: block;
                font-weight: bold;
            }
            .special-price .price {
                color: $primary-color;
            }
            .price {
                font-family: $font-condensed;
                display: block;
            }
            .view-vat-info {
                font-size: 12px;
                color: $Grey;
            }
        }
        .shipping {
            position: absolute;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translateY(-50%);
        }
    }
    .product-short-description {
        font-size: 13px;
        letter-spacing: 0.5px;
        margin-bottom: 15px
    }
    .product-action-tools {
        .form-group {
            display: inline-block;
            width: 100%;
        }
        label {
            width: 100px;
            float: left;
            margin-top: 5px;
            letter-spacing: 0.5px;
        }
        .input-group.spinner {
            .input-spinner {
                width: 75px;
                float: left;
                .form-control {
                    width: calc(100% - 17px);
                }
            }
        }
        .product-color-selector {
            li {
                height: 25px;
                width: 25px;
                display: inline-block;
                float: left;
                cursor: pointer;
                margin-right: 5px;
                margin-bottom: 5px;
                &.red {
                    background: $danger;
                }
                &.blue {
                    background: $info;
                }
                &.yellow {
                    background: $warning;
                }
                &.green {
                    background: $success;
                }
            }
        }
        .product-size-selector {
            li {
                height: 30px;
                width: 30px;
                text-align: center;
                line-height: 30px;
                font-size: 12px;
                display: inline-block;
                float: left;
                cursor: pointer;
                margin-right: 3px;
                border: 1px solid $Grey;
            }
        }
        .button-group {
            .btn {
                margin-right: 5px;
            }
        }
    }
}